<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title class="container">Goods selection</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" th:href="@{/}">Main</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
<div class="container">
  <table class="table">
    <thead>
    <tr>
      <th>Name</th>
      <th>Firm's name</th>
      <th>Model</th>
      <th>Cost</th>
      <th>Guarantee (days)</th>
      <th>Actions</th>
    </tr>
    </thead>
    <form>
      <input type="hidden" th:field="*{orderDto.id}">
      <input type="hidden" th:field="*{orderDto.goodsId}">
      <input type="hidden" th:field="*{orderDto.storeId}">
      <input type="hidden" th:field="*{orderDto.orderDate}">
      <input type="hidden" th:field="*{orderDto.orderTime}">
      <input type="hidden" th:field="*{orderDto.amount}">
      <input type="hidden" th:field="*{orderDto.clientFullName}">
      <input type="hidden" th:field="*{orderDto.telephone}">
      <input type="hidden" th:field="*{orderDto.orderConfirmation}">
      <div th:each="g : ${list}">
        <tr>
          <td th:text="${g.name}"></td>
          <td th:text="${g.firmName}"></td>
          <td th:text="${g.model}"></td>
          <td th:text="${g.cost}"></td>
          <td th:text="${g.guarantee}"></td>
          <td>
            <button class="btn btn-primary" th:formaction="@{/orders/goods/{id} (id=${g.id})}" formmethod="get">Select</button>
          </td>
        </tr>
      </div>
    </form>
  </table>
</div>
</body>
</html>
